.Tilt {
  background: #a3c9e2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    315deg,
    #a3c9e2,
    #9618f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    315deg,
    #a3c9e2,
    #9618f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Tilt-inner {
  padding: 2em;
}
